/*
* Copyright (c) 2021 The ZMK Contributors
*
* SPDX-License-Identifier: MIT
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        HOLD: HOLD {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <3000>;
        };

        BAL: BAL {
            compatible = "zmk,behavior-hold-tap";
            label = "BAL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <3000>;
            flavor = "balanced";
        };

        TAP: TAP {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP";
            bindings = <&none>, <&none>;

            #binding-cells = <2>;
            tapping-term-ms = <3000>;
            flavor = "tap-preferred";
        };

        TAPUNLESS: TAPUNLESS {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPUNLESS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-unless-interrupted";
            tapping-term-ms = <3000>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q  &kp W  &kp E  &kp R  &kp T      &kp Y          &kp U  &kp I      &kp O    &kp P
&kp A  &kp S  &kp D  &kp F  &kp G      &kp H          &kp J  &kp K      &kp L    &kp SEMI
&kp Z  &kp X  &kp C  &kp V  &kp B      &kp N          &kp M  &kp COMMA  &kp DOT  &kp FSLH
                     &mo 1  &kp SPACE  &kp BACKSPACE  &mo 2
            >;
        };

        layer_1 {
            bindings = <
&trans    &kp UP    &trans     &trans  &trans  &trans  &trans  &trans  &trans  &trans
&kp LEFT  &kp DOWN  &kp RIGHT  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans    &trans    &trans     &trans  &trans  &trans  &trans  &trans  &trans  &trans
                               &trans  &trans  &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &kp N7  &kp N8  &kp N9  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &kp N4  &kp N5  &kp N6  &trans
&trans  &trans  &trans  &trans  &trans  &kp N0  &kp N1  &kp N2  &kp N3  &trans
                        &trans  &trans  &trans  &trans
            >;
        };
    };
};
